* {
    background-color: black;

    color: green;

    font-family: Verdana
}

header{

color: white;

font-family: fantasy;

font-size: 60px;

}

h5{

    color:rgb(0, 255, 213);

}

p{

    font-family: Impact;

}

h7{

    color:red;
}
